.App {
    background-color: #5c7ce7;
    background-image: linear-gradient(0deg, #5c7ce7 0%, #d1f8ff 100%);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.App > * {
    margin: 30px;
}
